<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="10 seconds">
	<jmxConfigurator />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				value="%d{yyyyMMdd HH:mm:ss.SSS,${LOG_TZ}} [%thread] %-5level %logger{36} - %msg%n" />
		</layout>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/agent.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/agent.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				value="%d{yyyyMMdd HH:mm:ss.SSS,${LOG_TZ}} [%thread] %-5level %logger{36} - %msg%n" />
		</layout>
	</appender>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="${LOG_OUT}" />
	</root>
	
</configuration>